<main class="col-sm-9 col-md-12" ng-controller="AssistanceCtrl">
  <h1>{{'assistance.title' | translate}}</h1>

  <div ng-if="status==1"> {{'assistance.message.success' | translate}} </div>
  <div ng-if="status==2"> {{'assistance.message.error' | translate}}</div>
  <div ng-if="status==3"> {{'assistance.message.loading' | translate}} </div>


  <form ng-submit="submit()" ng-if="status==0">

    <div class="form-group">
      <label for="formGroupNom">{{'assistance.lieutenant' | translate}}</label>
      <input autocomplete="off" uib-typeahead="tier.nom for tier in loadTiers($viewValue)" type="text" ng-model="data.nomLieut" class="form-control" id="formGroupNom" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="formGroupNom">{{'assistance.nom' | translate}}</label>
      <input autocomplete="off" uib-typeahead="tier.nom for tier in loadTiers($viewValue)" type="text" ng-model="data.nomPers" class="form-control" id="formGroupNom" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="formGroupNom">{{'assistance.date' | translate}}</label>
      <input type="text" ng-model="data.date" class="form-control" id="formGroupNom" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="formGroupNom">{{'assistance.raison' | translate}} </label>
      <input type="text" ng-model="data.raison" class="form-control" id="formGroupNom" placeholder="" required>
    </div>
   <div class="form-group">
     <label for="formGroupNom">{{'assistance.comment' | translate}}</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="data.commentaire" placeholder="">
   </div>

   <button type="submit" class="btn btn-primary" >{{'assistance.send' | translate}}</button>
  </form>

</main>
