<main class="col-sm-12 col-md-12" ng-controller="FormCtrl">
  <h1>Commande de transport</h1>

  <div ng-if="status==1"> Message envoyé </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('transport')" ng-if="status==0">
    <div class="form-group">
      <label for="formGroupNom">Nom</label>
      <input type="text" ng-model="form.nom" class="form-control" id="formGroupNom" placeholder="Nom" required>
    </div>
    <div class="form-group">
      <label for="formGroupChantier">chantier</label>
      <select class="form-control" id="formGroupChantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers" required>
        <option value="">-- Selection chantier --</option> </select>
   </div>
   <div class="form-group">
     <label for="formGroupNom">Destination</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.destination">
   </div>
   <div class="form-group">
     <label for="formGroupNom"> Date du transport </label>
     <input type="text" class="form-control" id="formDate" ng-model="form.dateLivraison" required>
  </div>
   <div class="form-group">
     <label for="formGroupNom">Heures</label>
     <select class="form-control" id="formGroupChantier" ng-model="form.heure" required>
       <option value="matin">matin</option>
       <option value="midi">midi</option>
       <option value="soir">soir</option>
   </div>
   <div class="form-group">
     <label for="formGroupNom">Détails pour heure (si necessaire)</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.detailsHeure" placeholder="Détails pour heure (si necessaire)">
   </div>
   <div class="form-group">
     <label for="formGroupNom">Nombre d'hommes</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbHomme" placeholder="Nombre d'hommes">
   </div>
   <div class="form-group">
     <label for="formGroupNom">Matériel à transporter</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.matTransport" placeholder="Matériel à transporter">
   </div>
   <div class="form-group">
     <label for="formGroupNom">commentaires</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.commentaire"  placeholder="commentaires">
   </div>
   <button type="submit" class="btn btn-primary" >Envoyer</button>
  </form>

</main>
