<main class="col-sm-9 col-md-12" ng-controller="FormCtrl">
  <h1>{{'machine.title' | translate}}</h1>

    <div ng-if="status==1"> {{'machine.message.success' | translate}}</div>
    <div ng-if="status==2"> {{'machine.message.error' | translate}}</div>
    <div ng-if="status==3"> {{'machine.message.loading' | translate}}</div>


  <form ng-submit="submit('suivimachine')" ng-if="status==0">
    <div class="form-group">
      <label for="formGroupNom">{{'machine.nom' | translate}}</label>
      <input type="text" ng-model="form.nom" class="form-control" id="formGroupNom"  required>
    </div>
    <div class="form-group">
      <label for="formGroupChantier">{{'machine.site' | translate}}</label>
      <select class="form-control" id="formGroupChantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers" required>
        <option value="">{{'machine.selectSite' | translate}}</option>
   </div>
   <div class="form-group">
     <label for="formGroupNom">{{'machine.number' | translate}}</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.telContact"  required>
   </div>
   <div class="form-group">
     <label for="formGroupTypeDemande">{{'machine.type.title' | translate}}</label>
     <select class="form-control" id="formGroupTypeDemande" ng-model="form.typeDemande" required>
       <option value="demande machine">{{'machine.type.demande' | translate}}</option>
       <option value="reception de machine">{{'machine.type.reception' | translate}}</option>
       <option value="panne">{{'machine.type.panne' | translate}}</option>
       <option value="deplacement de machine">{{'machine.type.deplacement' | translate}}</option>
       <option value="retour de machine">{{'machine.type.retour' | translate}}</option>
   </div>
   <!-- ng-options suivant à régler -->
   <div class="form-group">
     <label for="formGroupMachine">{{'machine.machine' | translate}}</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.machine"  required>

  </div>
  <div class="form-group">
    <label for="formGroupNom">{{'machine.serie' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="form.numSerie"  required>
  </div>
   <div class="form-group">
    <label for="formGroupChantier">{{'machine.destSite' | translate}}</label>
    <select class="form-control" id="formGroupChantier" ng-model="form.chantierDest" ng-options="chantier.title as chantier.title for chantier in chantiers" required>
      <option value="">{{'machine.selectSite' | translate}}</option>
   </div>
   <div class="form-group">
     <label for="formGroupNom">{{'machine.heures' | translate}}</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.heuresMachine" required>
   </div>
   <div class="form-group">
     <label for="formGroupNom">{{'machine.comment' | translate}}</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.commentaire">
   </div>
   <button type="submit" class="btn btn-primary" >{{'machine.send' | translate}}</button>
  </form>

</main>
