<main class="col-sm-9 col-md-12" ng-controller="FormCtrl">
  <h1>Demande de congé</h1>

  <div ng-if="status==1"> Message envoyé </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('demandeconge')" ng-if="status==0">

    <div class="form-group">
      <label for="formGroupNom">Nom et prénom du lieutenant</label>
      <input type="text" ng-model="form.nomLieut" class="form-control" id="formGroupNom" placeholder="Nom du lieutenant" required>
    </div>
    <div class="form-group">
      <label for="formGroupNom">Nom et prénom de la personne effectuant la demande</label>
      <input type="text" ng-model="form.nomPers" class="form-control" id="formGroupNom" placeholder="Nom de la personne" required>
    </div>
    <div class="form-group">
      <label for="formGroupNom">Date et heure de congé désiré</label>
      <input type="date" ng-model="form.date" class="form-control" id="formGroupNom" placeholder="Date et heure de congé" required>
    </div>
    <div class="form-group">
      <label for="formGroupNom">Raison de la demande</label>
      <input type="text" ng-model="form.raison" class="form-control" id="formGroupNom" placeholder="Raison de la demande" required>
    </div>
   <div class="form-group">
     <label for="formGroupNom">Commentaires</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.commentaire" placeholder="commentaires">
   </div>

   <button type="submit" class="btn btn-primary" >Envoyer</button>
  </form>

</main>
