<main class="col-sm-12 col-md-12" ng-controller="QualifCtrl">

  <h1>{{'qualif.title' | translate}}</h1>

  <div ng-if="status==1"> {{'qualif.message.success' | translate}}</div>
  <div ng-if="status==2"> {{'qualif.message.error' | translate}}</div>
  <div ng-if="status==3"> {{'qualif.message.loading' | translate}}</div>

  <div class="form-group">
    <label for="formGroupNom">{{'qualif.search' | translate}} </label>
    <input ng-change="loadContacts(form.contact)" type="text" ng-model="form.contact" class="form-control" id="formGroupNom" placeholder="Nom" required>
  </div>

  <div ng-if="contacts.length > 0" >
    <ul ng-click=onClick(contact) class="list-group" ng-repeat="contact in contacts" >
      <li class="list-group-item active">{{contact.nom}}</li>
      <li class="list-group-item">{{contact.zip}} {{contact.town}}</li>
      <li class="list-group-item">{{contact.email}}</li>
      <li class="list-group-item">{{contact.phone}}</li>
   </ul>
  </div>

<form ng-show="status==0" ng-submit="submit('qualifications')">
<div ng-if="personne != null">
    <h2> {{'qualif.connaissances' | translate}}</h2>


      <label>{{'qualif.comportement' | translate}}</label>
      <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input type="radio" ng-model="data.personne.comportement" ng-value="5" value="Tres bon">
            {{'qualif.qualif.TB' | translate}}
           </label>
           <label class="btn btn-outline-secondary">
           <input  type="radio" ng-model="data.personne.comportement"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
           </label>
           <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.comportement" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
           </label>
           <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.comportement" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
           </label>
      </div>

        <label for=formGroupMotivation>{{'qualif.motivation' | translate}}</label>
        <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.motivation" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.motivation"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.motivation" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.motivation" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
          </label>
        </div>

        <label for=formGroupConnaissances>{{'qualif.technique' | translate}}</label>
        <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input type="radio" ng-model="data.personne.connaissances" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" ng-model="data.personne.connaissances"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" ng-model="data.personne.connaissances" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" ng-model="data.personne.connaissances" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
          </label>
        </div>

    <label for=formGroupExpression>{{'qualif.expression' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
      <label class="btn btn-outline-secondary">
         <input type="radio" ng-model="data.personne.expression" ng-value="5" value="Tres bon"> Très bon </label>
        <label class="btn btn-outline-secondary">
          <input type="radio" ng-model="data.personne.expression"  ng-value="4" value="Bon">  Bon </label>
        <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.expression" ng-value="3"  value="Suffisant">  Suffisant </label>
        <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.expression" ng-value="1"  value="Insuffisant"> Insuffisant </label>
     </div>

      <label for=formGroupAptitude>{{'qualif.aptitude' | translate}}</label>
      <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
        <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.aptitude" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
        </label>
        <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.aptitude"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
        </label>
        <label class="btn btn-outline-secondary">
          <input  type="radio" ng-model="data.personne.aptitude" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
        </label>
        <label class="btn btn-outline-secondary">
         <input  type="radio" ng-model="data.personne.aptitude" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
         </label>
        </div>

        <label for=formGroupGlobal>{{'qualif.appreciation' | translate}}</label>
        <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
            <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.global" ng-value="5" value="Tres bon">  Très bon  </label>
            <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.global"  ng-value="4" ng-value="4" value="Bon"> Bon </label>
            <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.global" ng-value="3"  value="Suffisant">  Suffisant </label>
            <label class="btn btn-outline-secondary">
            <input  type="radio" ng-model="data.personne.global" ng-value="1"  value="Insuffisant"> Insuffisant  </label>
        </div>

    <h2> {{'qualif.specialistes' | translate}} </h2>

    <label for=formGroupAppreciation>{{'qualif.appreciation' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.appreciation" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.appreciation"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.appreciation" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.appreciation" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <label for=formGroupDecision>{{'qualif.decision' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.decision" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.decision"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.decision" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.decision" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <label for=formGroupInstruction>{{'qualif.instruction' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.instruction" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.instruction"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.instruction" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.instruction" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <label for=formGroupConduite>{{'qualif.conduite' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.conduite" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.conduite"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.conduite" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.conduite" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <label for=formGroupFonction>{{'qualif.aptitude' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.fonction" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.fonction"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.fonction" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input  type="radio" ng-model="data.personne.fonction" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <label for=formGroupGlobal>{{'qualif.globale' | translate}}</label>
    <div class="btn-group btn-group-toggle col-sm-12 col-md-12" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.globalCadre" ng-value="5" ng-value="5" value="Tres bon">
              {{'qualif.qualif.TB' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.globalCadre"  ng-value="4" value="Bon">
              {{'qualif.qualif.B' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.globalCadre" ng-value="3"  value="Suffisant">
              {{'qualif.qualif.S' | translate}}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" ng-model="data.personne.globalCadre" ng-value="1"  value="Insuffisant">
              {{'qualif.qualif.I' | translate}}
      </label>
    </div>

    <div class="form-group col-sm-12 col-md-12">
      <label for="formGroupNom">{{'qualif.comment' | translate}}</label>
      <input type="text" class="form-control" id="formGroupNom" ng-model="data.commentaire" placeholder="Commentaires">
    </div>

    <button type="submit" class="btn btn-primary">{{'qualif.send' | translate}}</button>

</div>
</main>
