<main class="col-sm-12 col-md-12" ng-controller="FormCtrl">
  <h1>Commande de repas</h1>

  <div ng-if="status==1"> Message envoyé </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('repas')" ng-if="status==0">
    <div class="form-group">
      <label for="formGroupNom">Nom</label>
      <input type="text" ng-model="form.nom" class="form-control" id="formGroupNom" placeholder="Nom" required>
    </div>
    <div class="form-group">
      <label for="formGroupChantier">chantier</label>
      <select class="form-control" id="formGroupChantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers">
        <option value="">-- Selection chantier --</option>
     </select>
   </div>
   <div class="form-group">
     <label for="formGroupNom"> Date de livraison souhaitée </label>
     <input type="text" class="form-control" id="formDate" ng-model="form.dateLivraison" required>
  </div>
   <div class="form-group">
     <label for="formGroupNom">nombre de dej</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbDej" placeholder="nombre de déjeuner">
   </div>
   <div class="form-group">
     <label for="formGroupNom">nombre de diner</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbDiner" placeholder="nombre de diner">
   </div>
   <div class="form-group">
     <label for="formGroupNom">nombre de souper</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbSouper" placeholder="nombre de souper">
   </div>
   <div class="form-group">
     <label for="formGroupNom">nombre de collation de nuit</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbCollationNuit" placeholder="nombre de collation de nuit">
   </div>
   <div class="form-group">
     <label for="formGroupNom">nombre de vegetariens</label>
     <input type="number" class="form-control" id="formGroupNom" ng-model="form.nbVegetariens" placeholder="nombre de vegetariens">
   </div>
   <div class="form-group">
     <label for="formGroupNom">commentaires</label>
     <input type="text" class="form-control" id="formGroupNom" ng-model="form.commentaire" placeholder="commentaires">
   </div>
   <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>

</main>
