<main class="col-sm-12 col-md-12" ng-controller="ListeAppelCtrl">

  <h1>Liste d'appel</h1>

    <input ng-model="disclaimer" type="checkbox" name="acceptation" id='acceptation' class="form-control" placeholder="Acceptation" required>
    En cochant je confirme que tous les astreints ont été sensibilisés sur les points suivants :
     <ul>
      <li> Protection des données </li>
      <li> Matériel doit être complet  </li>
      <li> Changement d'adresse doit être communiqué </li>
      <li> Changement de compte pour la solde </li>
      <br>
    </ul>


  <div ng-if="status==1"> Message envoyé </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>
  <div ng-if="status==4" class="loader"></div>


<form ng-show="status==0 && disclaimer==true" ng-submit="submit('listeappel')">

      <div class="form-group">
        <label for="formGroupFormation">Formation</label>
        <select ng-change="onSelectFormation()" class="form-control" id="formGroupFormation" ng-model="data.formation" ng-value="formation" ng-options="formation as formation.intitule for formation in formations" required>
          <option value="">-- Selection formation --</option>
       </select> </div>

      <div class="form-group">
        <label for="formGroupSession">Session</label>
        <select ng-change="selectSession()" class="form-control" id="formGroupSession" ng-model="data.session" ng-value="session" ng-options="session as session.sessionNom for session in sessions" required>
          <option value="">-- Selection session --</option>
      </select></div>

      <div class="form-group">
        <label for="formGroupDate">Date</label>
        <select ng-change="onSelectDate()" class="form-control" id="formGroupDate" ng-model="data.jour" ng-value="date" ng-options="date as date for date in dates" required>
          <option value="">-- Selection date --</option>
      </select></div>

 <div  ng-if="personnes.length > 0">
    <ul class="list-group" ng-repeat="personne in personnes">
      <li class="list-group-item active">{{personne.nom}} {{personne.prenom}} - {{personne.civilite}}</li>

      <div class="btn-group btn-group-toggle" >
      <label class="btn btn-secondary">
          <input ng-change="onChange($index)" type="radio" ng-model="personne.status" value="Present">
          Present
        </label>
        <label class="btn btn-secondary">
          <input ng-change="onChange($index)" type="radio" ng-model="personne.status"  value="Absent">
          Absent
        </label>
        <label class="btn btn-secondary">
          <input ng-change="onChange($index)" type="radio" ng-model="personne.status" value="Congé">
          Congé
        </label>
      </div>

   </ul>
   <button type="submit()" class="btn btn-primary btn-block" >Envoyer</button>
</div>
</form>

</main>
