<main class="col-sm-12  col-md-12 ">

  <div class="form-group">
Accès rapide pour commandes

<a class="btn btn-secondary btn-block" href="#/commande/repas" role="button" >Repas</a>
<a class="btn btn-secondary btn-block" href="#/commande/materiel"role="button" >Materiel</a>
<a class="btn btn-secondary btn-block" href="#/commande/carburant" role="button" >Carburant</a>
<a class="btn btn-secondary btn-block" href="#/commande/transport"role="button" >Transport</a>
<a class="btn btn-secondary btn-block" href="#/form/radios" role="button">Radios</a>
<a class="btn btn-secondary btn-block" href="#/commandes/gestion"role="button" >Gestion de Commandes</a>
<a class="btn btn-secondary btn-block" href="#/commandes/tracking"role="button" >Suivi de Commandes</a>
<a class="btn btn-secondary btn-block" href="#/commandes/search"role="button" >Recherche de Commandes</a>

Accès rapide recherche de tiers

<a class="btn btn-secondary btn-block" href="#/admin/recherchetiers"role="button" >Recherche tiers</a>
<a class="btn btn-secondary btn-block" href="#/admin/recherchetags"role="button" >Recherche tags</a>

Accès rapide

<a class="btn btn-secondary btn-block" href="#/form/demandeconge" role="button" >Demande de congé</a>
<a class="btn btn-secondary btn-block" href="#/form/demandeavance" role="button">Demande d'avancement</a>
<a class="btn btn-secondary btn-block" href="#/form/rapportparking" role="button">Etat parking</a>
<a class="btn btn-secondary btn-block" href="#/form/etatcirculation" role="button">Etat de circulation</a>
<a class="btn btn-secondary btn-block" href="#/form/ctrlequipement" role="button">Contrôle équipement</a>
<a class="btn btn-secondary btn-block" href="#/form/suivimachine" role="button">Suivi de machine</a>
<a class="btn btn-secondary btn-block" href="#/form/entreeservice"role="button" >Entrée de service compétences</a>

Admin
<!-- <a class="btn btn-secondary btn-block" href="#/rapport/service"role="button">Rapport Journalier Section</a> -->
<a class="btn btn-secondary btn-block" href="#/rapport/journalier"role="button">Rapport Journalier (section et SPPAM, changements à venir)</a>
<a class="btn btn-secondary btn-block" href="#/admin/listeappel"role="button">Liste d'appel</a>
<a class="btn btn-secondary btn-block" href="#/admin/qualifications"role="button">Qualifications</a>


</div>

</main>
