<main class="col-sm-12  col-md-12 ">

<h2> Demandes et suivi </h2>

<div class="form-group">

  <a class="btn btn-secondary btn-block" href="#/form/demandeconge" role="button" >Demande de congé</a>
  <a class="btn btn-secondary btn-block" href="#/form/demandeavance" role="button">Demande d'avancement</a>
  <a class="btn btn-secondary btn-block" href="#/form/rapportparking" role="button">Etat parking</a>
  <a class="btn btn-secondary btn-block" href="#/form/etatcirculation" role="button">Etat de circulation</a>
  <a class="btn btn-secondary btn-block" href="#/form/ctrlequipement" role="button">Contrôle équipement</a>
  <a class="btn btn-secondary btn-block" href="#/form/suivimachine" role="button">Suivi de machine</a>
<!--  <a class="btn btn-secondary btn-block" href="#/form/suivichantier" role="button">Suivi de chantier</a> -->
  <a class="btn btn-secondary btn-block" href="#/form/entreeservice"role="button" >Entrée de service compétences</a>

  <div>
</main>
