<main class="col-sm-9 col-md-12" ng-controller="RechercheCtrl">

  <h1>Rechercher de tiers</h1>

  <!--  <div class="form-group">
      <label for="formGroupCategorie">Catégorie</label>
      <select ng-change="submit(form.categorie)" class="form-control" id="formGroupCategorie" ng-model="form.categorie" ng-options="categorie.rowId as categorie.label for categorie in categories" required>
        <option value="">-- Selection catégorie --</option>
    </div> -->

    <div class="form-group">
      <label for="formGroupNom">Nom</label>
      <input ng-change="loadTiers(form.nom)" type="text" ng-model="form.nom" class="form-control" id="formGroupNom" placeholder="minimum 4 lettres" required>
    </div>

 <div ng-if="tiers.length > 0" >
    <ul class="list-group" ng-repeat="tier in tiers" >
      <li class="list-group-item active">{{tier.nom}}</li>
      <li class="list-group-item">{{tier.zip}} {{tier.town}}</li>
      <li class="list-group-item"><a href=" mailto:{{tier.email}}">{{tier.email}} </a></li>
      <li class="list-group-item"><a href=" tel:{{tier.phone}}">{{tier.phone}} </a></li>
   </ul>
</div>

</main>
