<main class="col-sm-12 col-md-12" ng-controller="LogCtrl">
  <h1>{{'superadmin.logins.title' | translate}}</h1>

  <div ng-if="status==1"> {{'superadmin.logins.message.success' | translate}}   <button ng-click="refresh()"> Retour aux logins </button> </div>

  <div ng-if="status==2"> {{'superadmin.logins.message.error' | translate}}</div>
  <div ng-if="status==3"> {{'superadmin.logins.message.loading' | translate}} </div>
  <div ng-if="status==4"> {{erreur}} </div>

  <div ng-show="status == 5">
    <label for="login"> {{'superadmin.logins.login' | translate}} </label>
    {{log.login}}     <button ng-click="deleteLogin(log)"> {{'superadmin.logins.delete' | translate}} </button>
  </div>


  <form ng-submit="submit(log)" ng-if="status==0 || status==5">

  <div ng-show="status==0"class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.login' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="log.login">
  </div>



  <div ng-show="status == 0 || status == 5" class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.password' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="log.motdepasse">
  </div>

  <div ng-show="status == 0 || status == 5" class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.name' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="log.nom">
  </div>

  <div ng-show="status == 0 || status == 5" class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.prenom' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="log.prenom">
  </div>

  <div ng-show="status == 0 || status == 5" class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.usertype' | translate}}</label>
    <select class="form-control" id="usertype" ng-model="log.usertype">
      <option value="info">{{'superadmin.logins.member' | translate}}</option>
      <option value="users">{{'superadmin.logins.user' | translate}}</option>
      <option value="admin">{{'superadmin.logins.admin' | translate}}</option>
      <!-- <option value="cuisine">Cuisine</option>
      <option value="trans">Transport</option>
      <option value="mat">Matériel</option>
      <option value="four">Fourrier</option>
      <option value="pio">Pionnier</option> -->
    </select>


  <div ng-show="status == 0 || status == 5" class="form-group">
    <label for="formGroupNom">{{'superadmin.logins.mail' | translate}}</label>
    <input type="text" class="form-control" id="formGroupNom" ng-model="log.email">
  </div>


  <button  type="submit" class="btn btn-primary" >{{'superadmin.logins.send' | translate}}</button>
  </form>

  <table ng-show="status==0" style="width:100%">
    <tr ng-repeat="log in logs">
      <td> {{'superadmin.logins.login' | translate}}: {{log.login}} </td>
      <td> {{'superadmin.logins.mail' | translate}}: {{log.email}}</td>
      <td> {{'superadmin.logins.name' | translate}}: {{log.nom}} {{log.prenom}}</td>
      <td> {{'superadmin.logins.usertype' | translate}}: {{log.usertype}}</td>
      <td> <button ng-click="selectLogin(log)"> {{'superadmin.logins.edit' | translate}} </button> </td>
    </tr>
</table>


  </main>
