<main class="col-sm-12 col-md-12" ng-controller="WarningsCtrl">
  <h1>{{'superadmin.warnings.title' | translate}}</h1>

  <div ng-if="status==1"> {{'superadmin.warnings.message.success' | translate}} </div>
  <div ng-if="status==2"> {{'superadmin.warnings.message.error' | translate}}</div>
  <div ng-if="status==3"> {{'superadmin.warnings.message.loading' | translate}} </div>
  <div ng-if="status==4"> {{erreur}} </div>

  <div class="input-group mb-3" ng-form="warnForm" ng-repeat="warning in warnings">
    <input type="text" class="form-control" ng-model="warning.description">
    <div class="input-group-append" id="button-actions">
      <button ng-click="save(warning, warnForm)" class="btn btn-outline-secondary" type="button">{{'superadmin.warnings.save' | translate}}</button>
      <button ng-click="delete(warning.row_id)" class="btn btn-outline-secondary" type="button">{{'superadmin.warnings.delete' | translate}}</button>
    </div>
  </div>
  <button ng-click="add()" class="btn btn-primary" type="button">{{'superadmin.warnings.add' | translate}}</button>

</main>
