<main class="col-sm-12 col-md-12" ng-controller="CommandeGestionCtrl">
  <h1>Commandes pour {{t}} attente de traitement</h1>

  <label for="reload">Auto reload</label>
  <div id="reload" class="btn-group">
    <label class="btn btn-primary" ng-model="autoReload" uib-btn-radio="'ON'" ng-click="onAutoReload()">ON</label>
    <label class="btn btn-primary" ng-model="autoReload" uib-btn-radio="'OFF'" ng-click="onAutoReload()">OFF</label>
  </div>

  <div ng-if="commandes.length > 0">
     <ul class="list-group" ng-repeat-start="commande in commandes | filter:filterFn" ng-style="{'border' : '1px solid {{getColor(commande)}}', 'border-radius': '5px'}">
       <li ng-style="{'background-color' : getColor(commande)}" class="list-group-item">Commande numéro: {{commande.rowid}}</li>
       <li class="list-group-item">Client: {{commande.nom}}</li>
       <li class="list-group-item">Type: {{commande.type}}</li>
       <li class="list-group-item">Statut: {{commande.statut}}</li>
       <li class="list-group-item">Chantier: {{commande.chantier}}</li>
       <li class="list-group-item">Date d'envoi: {{commande.timestampDate}}</li>
       <a class="btn btn-secondary btn-block" href="#/commandes/gestion/{{t}}/details/{{commande.rowid}}" role="button">Details</a>
     </ul>
     <br ng-repeat-end>
  </div>
</main>
