<main class="col-sm-12 col-md-12" ng-controller="CommandeGestionCtrl">
  <h1>Commandes pour {{t}} attente de traitement</h1>

  <div ng-if="commandes.length > 0">
     <ul class="list-group" ng-repeat="commande in commandes | filter:filterFn | filter : {statut: '!traitee'}">
       <li class="list-group-item active">Commande numéro: {{commande.rowid}}</li>
       <li class="list-group-item">Client: {{commande.nom}}</li>
       <li class="list-group-item">Type: {{commande.type}}</li>
       <li class="list-group-item">Statut: {{commande.statut}}</li>
       <li class="list-group-item">Chantier: {{commande.chantier}}</li>
       <li class="list-group-item">Date: {{commande.timestampDate}}</li>
       <a ui-sref="cmddetails({cmd: commande, cat: 'gestion', t: t})">Détails</a>
     </ul>
  </div>
</main>
