<main class="col-sm-12 col-md-12" >
  <h1>Types de commandes</h1>

  <div class="form-group">
    <a class="btn btn-secondary btn-block" href="#/commandes/gestion/aidecmdt" role="button" >Aide commandement</a>
    <a class="btn btn-secondary btn-block" href="#/commandes/gestion/cuisine"role="button" >Repas</a>
    <a class="btn btn-secondary btn-block" href="#/commandes/gestion/materiel" role="button" >Materiel</a>
    <a class="btn btn-secondary btn-block" href="#/commandes/gestion/carburant" role="button" >Carburant</a>
    <a class="btn btn-secondary btn-block" href="#/commandes/gestion/transport"role="button" >Transport</a>
  </div>

</main>
