<main class="col-sm-12 col-md-12" >
  <h1>{{'commands.position.title' | translate}}</h1>

  <div class="form-group">
    <a class="btn btn-outline-secondary btn-block" href="#/commandes/gestion/aidecmdt" role="button" >{{'commands.position.leadassistance' | translate}}</a>
    <a class="btn btn-outline-secondary btn-block" href="#/commandes/gestion/repas"role="button" >{{'commands.position.kitchen' | translate}}</a>
    <a class="btn btn-outline-secondary btn-block" href="#/commandes/gestion/materiel" role="button" >{{'commands.position.material' | translate}}</a>
    <a class="btn btn-outline-secondary btn-block" href="#/commandes/gestion/carburant" role="button" >{{'commands.position.fuel' | translate}}</a>
    <a class="btn btn-outline-secondary btn-block" href="#/commandes/gestion/transport"role="button" >{{'commands.position.transport' | translate}}</a>
  </div>

</main>
