<main class="col-sm-12 col-md-12" >
  <h1>Types de commandes</h1>

  <div class="form-group">
    <a class="btn btn-secondary btn-block" href="#/administration/repas" role="button" >Repas</a>
    <a class="btn btn-secondary btn-block" href="#/administration/materiel"role="button" >Materiel</a>
    <a class="btn btn-secondary btn-block" href="#/administration/carburant" role="button" >Carburant</a>
    <a class="btn btn-secondary btn-block" href="#/administration/transport"role="button" >Transport</a>
  </div>

</main>
