<main class="col-sm-12 col-md-12" ng-controller="CommandeSearchCtrl">
<div class="row">
  <div class="col-md-6">
  <h1>Recherche de commande</h1>

  </div>
</div>
<form class="simple-form">
<div class="row">
  <div class="col-md-2">
    <label for="id">Numéro de commande</label>
  </div>
  <div class="col-md-2">
    <input id="id" type="text" ng-model="command.id" name="" value="">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="client">Client</label>
  </div>
  <div class="col-md-2">
    <input id="client" type="text" ng-model="command.client" name="" value="">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="type">Type de commande (repas, transport, ...)</label>
  </div>
  <div class="col-md-2">
    <input id="type" type="text" ng-model="command.type" name="" value="">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="date">Date (ex: 2019-04-28)</label>
  </div>
  <div class="col-md-2">
    <input id="date" type="text" ng-model="command.date" name="" value="">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="chantier">Chantier</label>
  </div>
  <div class="col-md-2">
    <select class="form-control" id="chantier" ng-model="chantier" ng-options="chantier.title as chantier.title for chantier in chantiers">
      <option value="">-- Selection chantier --</option>
   </select>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
      <label for="cmdDeliveredCheck">Afficher commandes livrées</label>
  </div>
  <div class="checkbox col-md-2">
      <input type="checkbox" id="cmdDeliveredCheck" ng-model="cmdDeliveredCheck">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
      <label for="cmdRefusedCheck">Afficher commandes refusée</label>
  </div>
  <div class="checkbox col-md-2">
      <input type="checkbox" id="cmdRefusedCheck" ng-model="cmdRefusedCheck">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
      <label for="cmdCancelledCheck">Afficher commandes annulée</label>
  </div>
  <div class="checkbox col-md-2">
      <input type="checkbox" id="cmdCancelledCheck" ng-model="cmdCancelledCheck">
  </div>
</div>
<button type="submit" class="btn btn-primary" ng-click="search(command)">Search</button>
</form>

<hr>

<div ng-if="commandes.length > 0">
   <ul class="list-group" ng-repeat="commande in commandes | filter: filterFn">
     <li class="list-group-item active">Commande numéro: {{commande.rowid}}</li>
     <li class="list-group-item">Client: {{commande.nom}}</li>
     <li class="list-group-item">Type: {{commande.type}}</li>
     <li class="list-group-item">Statut: {{commande.statut}}</li>
     <li class="list-group-item">Date: {{commande.timestampDate}}</li>
     <a class="btn btn-secondary btn-block" href="#/commandes/details/{{commande.rowid}}" role="button">Details</a>
   </ul>
</div>
