<main class="col-sm-12 col-md-12" ng-controller="CommandeCreationCtrl">
  <h1>{{'commands.transport.title' | translate}}</h1>

<div ng-if="status==1" translate="{{'commands.transport.message.success'}}" translate-values="{id : id}"></div>
<div ng-if="status==2"> {{'commands.transport.message.error' | translate}}</div>
<div ng-if="status==3">{{'commands.transport.message.loading' | translate}}</div>


  <form ng-submit="submit('transport')" ng-if="status==0">
    <div class="form-group">
      <label for="nom">{{'commands.transport.name' | translate}}</label>
      <input autocomplete="off" type="text" ng-model="form.nom" uib-typeahead="tier.nom for tier in loadTiers($viewValue)" class="form-control" id="nom" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="chantier">{{'commands.transport.departure' | translate}}</label>
      <select class="form-control" id="chantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers" required>
        <option value="">{{'commands.transport.site_selection' | translate}}</option> </select>
   </div>
   <div class="form-group">
     <label for="destination">{{'commands.transport.destination' | translate}}</label>
     <input type="text" class="form-control" id="destination" ng-model="form.destination">
   </div>
   <div class="form-group">
     <label for="date">{{'commands.transport.transport_date' | translate}}</label>
     <input type="text" class="form-control" id="date" ng-model="form.dateLivraison" required>
  </div>
   <div class="form-group">
     <label for="heures">{{'commands.transport.hour' | translate}}</label>
     <select class="form-control" id="heures" ng-model="form.heure" required>
       <option value="matin">{{'commands.transport.hour_morning' | translate}}</option>
       <option value="midi">{{'commands.transport.hour_midday' | translate}}</option>
       <option value="soir">{{'commands.transport.hour_evening' | translate}}</option>
   </div>
   <div class="form-group">
     <label for="details">{{'commands.transport.hour_details' | translate}}</label>
     <input type="text" class="form-control" id="details" ng-model="form.detailsHeure" placeholder="{{'commands.transport.hour_details' | translate}}">
   </div>
   <div class="form-group">
     <label for="hommes">{{'commands.transport.men_nbr' | translate}}</label>
     <input type="number" class="form-control" id="hommes" ng-model="form.nbHomme" placeholder="{{'commands.transport.men_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="mat">{{'commands.transport.material_to_transport' | translate}}</label>
     <input type="text" class="form-control" id="mat" ng-model="form.matTransport" placeholder="{{'commands.transport.material_to_transport' | translate}}">
   </div>
   <div class="form-group">
     <label for="com">{{'commands.transport.comment' | translate}}</label>
     <input type="text" class="form-control" id="com" ng-model="form.commentaire"  placeholder="{{'commands.transport.comment' | translate}}">
   </div>
   <button type="submit" class="btn btn-primary" >{{'commands.transport.button_send' | translate}}</button>
  </form>

</main>
