<main class="col-sm-12 col-md-12" ng-controller="CommandeCreationCtrl">
  <h1>Commande de repas</h1>

  <div ng-if="status==1">
    Commande numéro <b>{{id}}</b> créée avec succès!
    <br><br> <i>Note: Vous pouvez utilisez le numéro de commande pour faire une recherche par la suite.</i>
  </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('repas')" ng-if="status==0">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input autocomplete="off" type="text" ng-model="form.nom" uib-typeahead="tier.nom for tier in loadTiers($viewValue)" class="form-control" id="nom" placeholder="Nom" required>
    </div>
    <div class="form-group">
      <label for="chantier">chantier</label>
      <select class="form-control" id="chantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers">
        <option value="">-- Selection chantier --</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date"> Date de livraison souhaitée </label>
     <input type="date" class="form-control" id="date" ng-model="form.dateLivraison" min="{{date | date:'yyyy-MM-dd'}}" required>
    </div>
   <div class="form-group">
     <label for="dej">nombre de dej</label>
     <input type="number" class="form-control" id="dej" ng-model="form.nbDej" placeholder="nombre de déjeuner">
   </div>
   <div class="form-group">
     <label for="diner">nombre de diner</label>
     <input type="number" class="form-control" id="diner" ng-model="form.nbDiner" placeholder="nombre de diner">
   </div>
   <div class="form-group">
     <label for="souper">nombre de souper</label>
     <input type="number" class="form-control" id="souper" ng-model="form.nbSouper" placeholder="nombre de souper">
   </div>
   <div class="form-group">
     <label for="nuit">nombre de collation de nuit</label>
     <input type="number" class="form-control" id="nuit" ng-model="form.nbCollationNuit" placeholder="nombre de collation de nuit">
   </div>
   <div class="form-group">
     <label for="vege">nombre de vegetariens</label>
     <input type="number" class="form-control" id="vege" ng-model="form.nbVegetariens" placeholder="nombre de vegetariens">
   </div>
   <div class="form-group">
     <label for="com">commentaires</label>
     <input type="text" class="form-control" id="com" ng-model="form.commentaire" placeholder="commentaires">
   </div>
   <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>

</main>
