<main class="col-sm-12 col-md-12" ng-controller="CommandeCreationCtrl">
  <h1>{{'commands.meal.title' | translate}}</h1>

  <div ng-if="status==1" translate="{{'commands.meal.message.success'}}" translate-values="{id : id}"></div>
  <div ng-if="status==2">{{'commands.meal.message.error' | translate}}</div>
  <div ng-if="status==3">{{'commands.meal.message.loading' | translate}}</div>

  <form ng-submit="submit('repas')" ng-if="status==0">
    <div class="form-group">
      <label for="nom">{{'commands.meal.name' | translate}}</label>
      <input autocomplete="off" type="text" ng-model="form.nom" uib-typeahead="tier.nom for tier in loadTiers($viewValue)" class="form-control" id="nom" placeholder="{{'commands.meal.name' | translate}}" required>
    </div>
    <div class="form-group">
      <label for="chantier">{{'commands.meal.site' | translate}}</label>
      <select class="form-control" id="chantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers">
        <option value="">-- Selection chantier --</option>
     </select>
   </div>
   <div class="form-group">
     <label for="date">{{'commands.meal.delivery_date' | translate}}</label>
     <input type="text" class="form-control" id="date" ng-model="form.dateLivraison" required>
  </div>
   <div class="form-group">
     <label for="dej">{{'commands.meal.breakfast_nbr' | translate}}</label>
     <input type="number" class="form-control" id="dej" ng-model="form.nbDej" placeholder="{{'commands.meal.breakfast_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="diner">{{'commands.meal.lunch_nbr' | translate}}</label>
     <input type="number" class="form-control" id="diner" ng-model="form.nbDiner" placeholder="{{'commands.meal.lunch_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="souper">{{'commands.meal.dinner_nbr' | translate}}</label>
     <input type="number" class="form-control" id="souper" ng-model="form.nbSouper" placeholder="{{'commands.meal.dinner_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="nuit">{{'commands.meal.night_snack_nbr' | translate}}</label>
     <input type="number" class="form-control" id="nuit" ng-model="form.nbCollationNuit" placeholder="{{'commands.meal.night_snack_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="vege">{{'commands.meal.vegetarian_nbr' | translate}}</label>
     <input type="number" class="form-control" id="vege" ng-model="form.nbVegetariens" placeholder="{{'commands.meal.vegetarian_nbr' | translate}}">
   </div>
   <div class="form-group">
     <label for="com">{{'commands.meal.comment' | translate}}</label>
     <input type="text" class="form-control" id="com" ng-model="form.commentaire" placeholder="{{'commands.meal.comment' | translate}}">
   </div>
   <button type="submit" class="btn btn-primary">{{'commands.meal.button_send' | translate}}</button>
  </form>

</main>
