<main class="col-sm-12 col-md-12" ng-controller="CommandeCreationCtrl">
  <h1>Commande de radios</h1>

  <div ng-if="status==1">
    Commande numéro <b>{{id}}</b> créée avec succès!
      <br><br> <i>Note: Vous pouvez utilisez le numéro de commande pour faire une recherche par la suite.</i>
    </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('radio')" ng-if="status==0">

    <div class="form-group">
      <label for="formGroupNom"> Nom </label>
      <input type="text" ng-model="form.nom" class="form-control" id="formGroupNom" required>
    </div>
    <div class="form-group">
      <label for="formGroupGrade"> Grade </label>
      <select class="form-control" id="formGroupGrade" ng-model="form.grade" required>
        <option value=''></option>
        <option value='Hors-PC'>Non-PCiste</option>
        <option value='Soldat'>Std - Soldat</option>
        <option value='Appointe'>App - Appointé</option>
        <option value='Caporal'>Cpl - Caporal</option>
        <option value='Sergent'>Sgt - Sergent</option>
        <option value='Sergent-major'>Sgtm - Sergent-major</option>
        <option value='Fourrier'>Four - Fourrier</option>
        <option value='Lieutenant'>Lt - Lieutenant</option>
        <option value='Premier-Lieutenant'>PLt - Premier-Lieutenant</option>
        <option value='Capitaine'>Cap - Capitaine</option>
        <option value='Major'>Maj - Major</option>
      </select>
    </div>

    <div class="form-group">
      <label for="formGroupSection"> Section </label>
      <input type="text" ng-model="form.section" class="form-control" id="formGroupSection" required>
    </div>

   <div class="form-group">
     <label for="formGroupDate"> Depuis le </label>
     <input type="text" class="form-control" id="formGroupDate" ng-model="form.dateDe" required>
   </div>
   <div class="form-group">
     <label for="formGroupDate"> Jusqu'au </label>
     <input type="text" class="form-control" id="formGroupDate" ng-model="form.dateA" required>
   </div>

   <div class="form-group">
     <label for="fromGroupRadio"> Nombre de radios </label>
     <input id="formGroupRadio" class="form-control" type="number" ng-model="form.nombre">
   </div>

   <div class="form-group">
      <label for="formGroupTel"> Téléphone </label>
      <input class="form-control" id="formGroupTel" type="text" ng-model="form.tel">
    </div>

     <div class="form-group">
       <label for="formGroupCommentaire"> Commentaires </label>
       <input type="text" class="form-control" id="formGroupCommentaire" ng-model="form.commentaires">
     </div>

   <button type="submit" class="btn btn-primary">Envoyer</button>

  </form>

</main>
