<main class="col-sm-9 col-md-12" ng-controller="CommandeCreationCtrl">
  <h1>Commande de matériel</h1>

  <div ng-if="status==1">
    Commande numéro <b>{{id}}</b> créée avec succès!
    <br><br> <i>Note: Vous pouvez utilisez le numéro de commande pour faire une recherche par la suite.</i>
  </div>
  <div ng-if="status==2"> Erreur de traitement, veuillez réessayer dans un moment</div>
  <div ng-if="status==3"> Chargement en cours </div>


  <form ng-submit="submit('materiel')" ng-if="status==0">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" ng-model="form.nom" class="form-control" id="nom" placeholder="Nom" required>
    </div>
    <div class="form-group">
      <label for="chantier">chantier</label>
      <select class="form-control" id="chantier" ng-model="form.chantier" ng-options="chantier.title as chantier.title for chantier in chantiers" required>
        <option value="">-- Selection chantier --</option>
    </div>
    <div class="form-group">
      <label for="date"> Date de livraison souhaitée </label>
      <input type="text" class="form-control" id="date" ng-model="form.dateLivraison" required>
   </div>
   <div class="form-group">
     <label for="heures">Heures</label>
     <select class="form-control" id="heures" ng-model="form.heure" required>
       <option value="matin">matin</option>
       <option value="midi">midi</option>
       <option value="soir">soir</option>
     </div>
     <div class="form-group">
       <label for="mat1">Matériel 1</label>
       <input type="text" class="form-control" id="mat1" ng-model="form.mat1" placeholder="Matériel 1">
     </div>
     <div class="form-group">
       <label for="mat2">Matériel 2</label>
       <input type="text" class="form-control" id="mat2" ng-model="form.mat2" placeholder="Matériel 2">
     </div>
     <div class="form-group">
       <label for="mat3">matériel 3</label>
       <input type="text" class="form-control" id="mat3" ng-model="form.mat3" placeholder="Matériel 3">
     </div>
     <div class="form-group">
       <label for="com">commentaires</label>
       <input type="text" class="form-control" id="com" ng-model="form.commentaire"  placeholder="commentaires">
     </div>
     <button type="submit" class="btn btn-primary" >Envoyer</button>
  </form>

</main>
