<main class="col-sm-9 col-md-12" ng-controller="ReservationMissingCtrl">

  <h1>{{'reservations.missing.title' | translate}}</h1>

  <table ng-show="status==0" style="width:100%" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">{{'reservations.missing.product' | translate}}</th>
      <th scope="col">{{'reservations.missing.contact' | translate}}</th>
      <th scope="col">{{'reservations.missing.start_date' | translate}}</th>
      <th scope="col">{{'reservations.missing.end_date' | translate}}</th>
      <th scope="col">{{'reservations.list.quantity' | translate}}</th>
      <th class="text-center" scope="col">{{'reservations.missing.missing' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reservation in reservations">
      <td>{{reservation.product}}</td>
      <td>{{reservation.contact}}</td>
      <td>{{reservation.startDate}}</td>
      <td>{{reservation.endDate}}</td>
      <td>{{reservation.quantity}}</td>
      <td class="text-center">
        <span ng-if="reservation.missing == 1" class="oi oi-x" style="color:red"></span>
        <span ng-if="reservation.missing == 0" class="oi oi-check" style="color:green"></span>
      </td>
    </tr>
    </tbody>
  </table>

</main>