<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        "dbdoll" => [
          "host" => "localhost",
          "dbname" => "8k4b7_dolib5",
          "user" => "root",
          "pass" => "root"
      ],
        "dbm2" => [
          "host" => "localhost",
          "dbname" => "8k4b7_dolib10",
          "user" => "root",
          "pass" => "root"
      ],
      "emails" => [
        "fourriers" => "",
        "transport" => "",
        "commandement" => ""
    ],
    ],
];
